/* CSS Document */

body{
	font-family:Verdana, Geneva, sans-serif;
}

/* Main div */
#main{
	width: 100%;
	height:700px;
}

/* Page headder */
#header{
	width:100%;
	height:20%;
	background-color:yellow;
}

/* Page body */
#body{
	width:100%;
	height:70%;
	background-color:blue;
}

	#inbody{
		width:100%;
		height:98%;
	}
	
	/* Page menu */
	#menu{
		width:22%;
		height:98%;
		margin:10px;
		margin-right:0px;
		float:left;
		overflow:auto;
		background-color:red;
	}
	/* Page content */
	#content{
		width:72%;
		height:98%;
		margin:10px;
		margin-left:0px;
		float:right;
		overflow:auto;
		background-color:red;
	}

/* Page fotter */
#footer{
	width: 100%;
	height:10%;
	float:left;
	background-color:green;
}

